/* Bloque: flex-lab */
.flex-lab {
    margin-top: 0px;
    padding: 20px;
    background: white;
    border-radius: 15px;
    /* box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    /* background-color: aquamarine; */
    display: flex; */
    /* flex-direction:row; */
}

/* El Escenario: Aquí es donde aplicamos Flexbox */
.flex-lab__scene {
   background-color: #c2cb0b;
   padding:15px ;
   border:1px solid;
    /* PROPIEDADES A PROBAR: */
    /* flex-direction: column;  */
   
                                /* flex-start: Las cajas se pegan a la izquierda (inicio).    */


    gap: 5px;               /* Espacio entre los hijos */
    
}

/* Elemento: Las cajas dentro del escenario */
.flex-lab__item {
    border: 3px;
    font-size: 30px;
    text-align: center;
    margin: 15px;
}

.flex-lab__item--1 { background-color: #e74c3c; }
.flex-lab__item--2 { background-color: #2ecc71; }
.flex-lab__item--3 { background-color: #3498db; }
.flex-lab__item--4 { background-color: #f90fda; }
.flex-lab__item--5 { background-color: #c834db; }